#about {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#about h2{
  color: white;
  text-align: center;
  margin-bottom: 50px;
  transform: translateY(-100%);
}
#about .wrap {
  align-items: center;
  justify-content: center;
}
#about .wrap .img {
  width: 347px;
  height: auto;
  margin-right: 50px;
}
#about .wrap .img figure {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}
#about .wrap .img figure img { 
  width: 100%;
  height: 100%;
}
#about .wrap .img figure figcaption {
  
  display: none;
}
#about .wrap .img figure a {  
  font-size: 18px;
  border: 1px solid white;
  display: inline;
  padding: 5px 40px;
  border-radius: 19px;
  position: absolute;
  left: calc(50% - 66px);
  margin-top: 20px;
  transition: 1s;
}
#about .wrap .img figure a:hover{
  color: black;
  background-color: white;
}
#about .wrap .ab { 
  color: white;
}
#about .wrap .ab ul {
  
}
#about .wrap .ab ul li {
  line-height: 1.4;
}
#about .wrap .ab ul li:nth-child(1) {
  font-size: 22px;
  font-weight: 600;
}
#about .wrap .ab ul li:nth-child(2) {
  font-size: 20px;
  margin-bottom: 70px;
}
#about .wrap .ab ul li:nth-child(3) { 
  font-size: 18px;
}
#about .wrap .ab ul li:nth-child(3) span{
  font-size: 24px;
  font-weight: bold;
  line-height: 3;
}
#about .wrap .ab ul li:nth-child(4) {
  font-size: 18px;
}