body{
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
 /*start ------------*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000), color-stop(0.11, #000000), color-stop(0.76, #6b6b6b));
	background: -moz-linear-gradient(top, #000000 0%, #000000 11%, #6b6b6b 76%);
	background: -webkit-linear-gradient(top,  #000000 0%, #000000 11%, #6b6b6b 76%);
	background: -o-linear-gradient(top,  #000000 0%, #000000 11%, #6b6b6b 76%);
	background: -ms-linear-gradient(top,  #000000 0%, #000000 11%, #6b6b6b 76%);
	background: linear-gradient(top,  #000000 0%, #000000 11%, #6b6b6b 76%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#6b6b6b', gradientType=0);
}
.wrap{
  margin: 0px auto;
}
.flex{
  display: flex;
}
.block{
  display: block;
}
.h2t{
  font-size: 78px;
  font-weight: 100;
}