#portfolio {
  height: 100vh;
  background-color: #B3AB9B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#portfolio h2{
  color: white;
  text-align: center;
  margin-bottom: 80px;
}
#portfolio .p2 {
  box-sizing: border-box;
  width: 1640px;
  margin: 0 auto;
  height: auto;
}
#portfolio .p2 .port {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: flex;
  padding: 40px 0;
  border-radius: 50px;
  height: fit-content;
}
#portfolio .p2 .port1{

}
#portfolio .p2 .port2{

}
#portfolio .p2 .port3{

}
#portfolio .p2 .port4{

}
#portfolio .p2 .port5{

}
#portfolio .p2 .port6{
    
}
#portfolio .p2 .port .img {
  width: 50%;
}

#portfolio .p2 .port .img figure {
  
}
#portfolio .p2 .port .img figure a {
  
}
#portfolio .p2 .port .img figure a img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
#portfolio .p2 .port .img figure a figcaption {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
#portfolio .p2 .port .po {
  color: white;
  width: 20%;
  margin-left: 60px;
  padding-left: 30px;
  align-self: baseline;
  margin-top: 15px;
}
#portfolio .p2 .port .po h3 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}
#portfolio .p2 .port .po > p {
  font-size: 18px;
  margin-bottom: 50px;
}
#portfolio .p2 .port .po ul {
  
}
#portfolio .p2 .port .po ul li {
  display: flex;
  font-size: 20px;
  line-height: 1.5;
}
#portfolio .p2 .port .po ul li h4 {
  font-size: 20px;
  line-height: 1.5;
}
#portfolio .p2 .port .po ul li p {
  padding-left: 5px;
  padding-top: 5px;
}
#portfolio .p2 .port .po a{
  padding: 10px 20px;
  margin-top: 50px;
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 20px;
  transition: 1s;
}
#portfolio .p2 .port .po a:hover{
  color: black;
  background-color: #fff;
}