div#title{
  background: #fdfdf9;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  box-sizing: border-box;
}
div#title h2{
  font-size: 0;
}
div#title h2::before{
  content: "";
  display: block;
  width: 1400px;
  height: 535px;
  background-image: url(../img/titlee.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-90px);
}
div#title h2 span{
  line-height: 1.3;
  font-size: 0;
}
div#title p{
  font-size: 0;
}
